In [2]:
import pandas as pd
import numpy as np

C:\Users\rajp2\AppData\Local\Temp\ipykernel_7776\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv(r"C:\End-to-End Project\raj_patel\OLX_cars_dataset00.csv")

-->

In [4]:
df.head(5)

,Ad ID,Car Name,Make,Model,Year,KM's driven,Price,Fuel,Registration city,Car documents,Assembly,Transmission,Condition,Seller Location,Description,Car Features,Images URL's,Car Profile
0,1079071571,fresh import Passo 2021model,Toyota,Passo,2021,54000,4190000,Petrol,Unregistered,Original,Imported,Automatic,Used,"Airline Avenue, Islamabad","it's 2021 model fresh import, perfect engine s...","ABS, Air Bags, AM/FM Radio, CD Player, Cassett...",['https://images.olx.com.pk/thumbnails/4039460...,https://www.olx.com.pk/item/fresh-import-passo...
1,1080125520,Suzuki ravi,Suzuki,Ravi,2018,95000,1300000,Petrol,Karachi,Original,Local,Manual,Used,"Kahuta, Rawalpindi",Suzuki ravi 2018 col,AM/FM Radio,['https://images.olx.com.pk/thumbnails/4102504...,https://www.olx.com.pk/item/suzuki-ravi-iid-10...
2,1080748789,Suzuki bolan 2015 contact 03112271054,Suzuki,Bolan,2015,50000,800000,Petrol,Karachi,Original,Local,Manual,Used,"Lyari Expressway, Karachi",Suzuki bolan model 2015 reg 2022 ghadi me koi ...,Rear speakers,['https://images.olx.com.pk/thumbnails/4139520...,https://www.olx.com.pk/item/suzuki-bolan-2015-...
3,1076081635,Diahatsu Move 2013,Daihatsu,Move,2013,94000,2155000,Petrol,Lahore,Original,Imported,Automatic,Used,"New Amir Town, Lahore",Move Push start \nHome Used car. \nModel 2013....,"ABS, Air Bags, Air Conditioning, Alloy Rims, A...",['https://images.olx.com.pk/thumbnails/3865337...,https://www.olx.com.pk/item/diahatsu-move-2013...
4,1080812928,Suzuki Swift DLX 2011 miner tuchap,Suzuki,Swift,2011,126544,1440000,Petrol,Karachi,Original,Local,Manual,Used,"Shadman 2, Karachi",Suzuki Swift DLX\nAbS Break 100%\nengine 100%\...,"ABS, Air Conditioning, Alloy Rims, AM/FM Radio...",['https://images.olx.com.pk/thumbnails/4143509...,https://www.olx.com.pk/item/suzuki-swift-dlx-2...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9179 entries, 0 to 9178
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Ad ID              9179 non-null   int64
 1   Car Name           9179 non-null   object
 2   Make               9179 non-null   object
 3   Model              9179 non-null   object
 4   Year               9179 non-null   int64
 5   KM's driven        9179 non-null   int64
 6   Price              9179 non-null   int64
 7   Fuel               9179 non-null   object
 8   Registration city  9179 non-null   object
 9   Car documents      9179 non-null   object
 10  Assembly           9179 non-null   object
 11  Transmission       9179 non-null   object
 12  Condition          9179 non-null   object
 13  Seller Location    9179 non-null   object
 14  Description        9179 non-null   object
 15  Car Features       9179 non-null   object
 16  Images URL's       9179 non-null   object
 17  Car Profile        8721 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.3+ MB

In [6]:
df['Registration city'].unique()

array(['Unregistered', 'Karachi', 'Lahore', 'Sindh', 'Faisalabad',
       'Islamabad', 'Sialkot', 'Gujranwala', 'Punjab', 'Multan',
       'Rawalpindi', 'Bahawalpur', 'Hyderabad', 'Rahimyar Khan',
       'Chishtian Mandi', 'Chiniot', 'Wazirabad', 'Sahiwal', 'Gujrat',
       'Abbottabad', 'Khanewal', 'Peshawar', 'Sargodha', 'Bannu',
       'Nowshera', 'Kasur', 'Arifwala', 'Jhang Sadar', 'Dera Ghazi Khan',
       'Mardan', 'Attock', 'Larkana', 'Unknown', 'Jhelum', 'Khanpur',
       'Wah', 'Okara', 'Bhakkar', 'Sheikhüpura', 'Swat',
       'Dera Ismail Khan', 'Khushab', 'Bhimber', 'Mansehra', 'Mirpur',
       'Quetta', 'Vehari', 'Hafizabad', 'Charsadda', 'Toba Tek singh',
       'Jaranwala', 'Pirmahal', 'Haripur', 'Mirpur Khas', 'Bahawalnagar',
       'Swabi', 'Dadu', 'Mianwali', 'Sukkar', 'Badin', 'Nawabshah'],
      dtype=object)

In [7]:
df.drop(['Description',"Images URL's",'Car Profile'],inplace=True,axis=1)

In [17]:
df = df.iloc[:,2:-2]

In [18]:
df.to_csv("OLX_cleaned.csv", index = False)